

#titleRow {
    background-color: grey;
}

.container {
    background-color: gainsboro;
    
    border-style: solid;
    border-width: medium;
}

.card {
    margin: auto;
}

.card-body {
    background-color: lightblue;
}

#currentWeather {
    border-style:solid;
    border-width: thin;
    background-color: white;
}

#currentWeather, #forecastWeather, #searchBarColumn {
    padding: 5px;
    margin: 5px;
}

#searchButton {
    background-color: lightblue;
}

#cityOutput {
    font-weight: bold;
}
